<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataExporter" connectionString="Data Source=MANISERO-PC\SQLEXPRESS;Initial Catalog=DataflowPoc;Integrated Security=SSPI" />
	</connectionStrings>
	<appSettings>
		<add key="PeopleTargetFilePath" value="..\..\..\..\results\people.csv"/>
		<add key="ReadingBatchSize" value="100000"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
</configuration>
