<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PeopleJsonFilePath" value="\\VBOXSVR\temp\people.json"/>
		<add key="PeopleTargetFilePath" value="\\VBOXSVR\temp\people_result.txt"/>
		<add key="BatchSize" value="1000"/>
		<add key="OptimizeReading" value="false"/>
		<add key="ThrowTest" value="false"/>
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>