<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="PeopleJsonFilePath" value="..\..\..\test_data\correct.json"/>-->
		<add key="PeopleJsonFilePath" value="..\..\..\test_data\invalid_format.json"/>
		<!--<add key="PeopleJsonFilePath" value="..\..\..\test_data\invalid_data.json"/>-->
		<!--<add key="PeopleJsonFilePath" value="..\..\..\test_data\uncomputable.json"/>-->
		<add key="PeopleTargetFilePath" value="..\..\..\results\result.txt"/>
		<add key="ErrorsFilePath" value="..\..\..\results\errors.txt"/>
		<add key="ReadingBatchSize" value="1000"/>
		<add key="ProgressBatchSize" value="100000"/>
		<add key="OptimizeReading" value="false"/>
		<add key="ThrowTest" value="false"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
</configuration>
